@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.home-pg-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 50px;
    font-style: italic;
  }